@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&display=swap");

body {
  overflow-x: hidden;
}

.banner {
  margin-top: 3rem;
  background: #ccff00;
  padding: 3rem 0;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: italic;
  font-size: 2.8rem;
  text-align: center;
  text-transform: uppercase;
}

.second-banner {
  margin-top: 3rem;
  background: rgb(148, 71, 255);
  color: white;
  padding: 3rem 0;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: italic;
  font-size: 2.8rem;
  text-align: center;
  text-transform: uppercase;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.image {
  height: 40vh;
}

.model-container {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.card h2 {
  font-family: "Asap", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}

.card img {
  height: 50vh;
  width: 16vw;
}

.flex-container {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.model-container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.model-container2 img {
  height: 70vh;
  border-top: 0.8rem solid rgb(148, 71, 255);
  border-left: 0.8rem solid #ff3b30;
  border-right: 0.8rem solid #ccff00;
  border-bottom: 0.8rem solid #0770cf;
}

.model-container2 h2 {
  font-family: "Asap", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}

.button {
  color: black;
  border: 2px solid black;
  background: white;
  padding: 0.7rem;
  cursor: pointer;
  font-size: 1.2rem;
  font-family: "Asap", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  margin-top: 1rem;
  transition: ease 0.5s;
}

.button:hover {
  background: black;
  color: white;
  box-shadow: 0 0 0.7rem black;
}

.flex-container2 {
  border-top: 2px solid #c0c0c0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.social-media {
  margin: 1rem;
  margin-left: 10rem;
  display: flex;
  gap: 1rem;
  padding-right: 3rem;
}

.social-media a img {
  height: 3rem;
  border: 1.5px solid white;
  border-radius: 1rem;
  transition: ease 0.5s;
}

.social-media a img:hover {
  border: 1.5px solid black;
  border-radius: 1rem;
  box-shadow: 0 0 0.3rem black;
}

.payment-method {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding-left: 3rem;
  border-left: 1px solid #c0c0c0;
}

.footer {
  padding: 0.5rem;
  background: #c0c0c0;
  font-size: 1.2rem;
  font-family: "Asap", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
}
