.flex-container {
  display: flex;
  gap: 1rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  row-gap: 1rem;
  margin-left: 1rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  align-items: center;
  justify-items: center;
}
